body{
    margin:0;
    padding:0;
    background: #343434;
}
.box{
    background:white;
    padding:5px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:5px;
}
.box a{
    width:30px;
    height:30px;
    float:left;
    text-indent:-9999px;
    margin:5px;
    cursor:pointer;

}
#red{
    background-color: #E74C3C;
}
#blue{
    background-color:#5DADE2;
}
#green{
    background-color: #58D68D;
}
#grey{
    background-color: #99A3A4;
}
#yellow{
    background-color:#FFEB3B;
}
#orange{
    background-color: #F57F17;
}